In [ ]:
%pylab inline
import pandas as pd
import seaborn as sb
from urllib2 import urlopen

In [ ]:
%load_ext autoreload
%autoreload 2

from skyfield.data import earth_orientation as eo

In [ ]:
cache = {}

def get(url):
    if url not in cache:
        content = urlopen(url).read()
        cache[url] = content
    return cache[url]

In [ ]:
tables = pd.read_html(get('http://eclipse.gsfc.nasa.gov/SEcat5/deltat.html'))
print len(tables)

In [ ]:
t = tables[0]
t.columns = ['year', 'delta_t', 'error']
t = t[['year', 'delta_t']]
nasa_eclipse_morrison_and_stephenson_2004 = t
t.head()

In [ ]:
t = tables[1]
t.columns = ['year', 'delta_t', 'change1', 'change5']
t = t[['year', 'delta_t']]
nasa_eclipse_astronomical_almanac_2006 = t
t.head()

## IERS Rapid Service/Prediction Center?

In [ ]:
from StringIO import StringIO
text = get('http://maia.usno.navy.mil/ser7/deltat.data')
t = pd.read_table(StringIO(text), sep=r' +', engine='python', names=['year', 'month', 'error', 'delta_t'])
maia_monthly_delta_t = t
t.head()

In [ ]:
text = get('http://maia.usno.navy.mil/ser7/deltat.preds')
t = pd.read_table(StringIO(text), sep=r'  +', engine='python')
t['year'] = t.pop('YEAR')
t['delta_t'] = t.pop('TT-UT PREDICTION')
t = t[['year', 'delta_t']]
maia_predicted_delta_t = t
t.head()

In [ ]:
text = get('http://maia.usno.navy.mil/ser7/historic_deltat.data')
t = pd.read_table(StringIO(text), sep=r' +', engine='python')
t = t[t['error'] != '(ms)']
t['year'] = t.pop('Year')
t['delta_t'] = t.pop('TDT-UT1')
t = t[['year', 'delta_t']]
maia_biannual_delta_t = t
t.head()

In [ ]:
def 
    y = year + (month - 0.5)/12
This gives "y" for the middle of the month, which is accurate enough given the precision in the known values of ΔT. The following polynomial expressions can be used calculate the value of ΔT (in seconds) over the time period covered by of the Five Millennium Canon of Solar Eclipses: -1999 to +3000.

Before the year -500, calculate:

		ΔT = -20 + 32 * u^2
		where:	u = (year-1820)/100
Between years -500 and +500, we use the data from Table 1, except that for the year -500 we changed the value 17190 to 17203.7 in order to avoid a discontinuity with the previous formula at that epoch. The value for ΔT is given by a polynomial of the 6th degree, which reproduces the values in Table 1 with an error not larger than 4 seconds:

	ΔT = 10583.6 - 1014.41 * u + 33.78311 * u^2 - 5.952053 * u^3
		- 0.1798452 * u^4 + 0.022174192 * u^5 + 0.0090316521 * u^6 
	where: u = y/100
Between years +500 and +1600, we again use the data from Table 1 to derive a polynomial of the 6th degree.

	ΔT = 1574.2 - 556.01 * u + 71.23472 * u^2 + 0.319781 * u^3
		- 0.8503463 * u^4 - 0.005050998 * u^5 + 0.0083572073 * u^6
	where: u = (y-1000)/100
Between years +1600 and +1700, calculate:

	ΔT = 120 - 0.9808 * t - 0.01532 * t^2 + t^3 / 7129
	where:  t = y - 1600
Between years +1700 and +1800, calculate:

	ΔT = 8.83 + 0.1603 * t - 0.0059285 * t^2 + 0.00013336 * t^3 - t^4 / 1174000
	where: t = y - 1700
Between years +1800 and +1860, calculate:

	ΔT = 13.72 - 0.332447 * t + 0.0068612 * t^2 + 0.0041116 * t^3 - 0.00037436 * t^4 
		+ 0.0000121272 * t^5 - 0.0000001699 * t^6 + 0.000000000875 * t^7
	where: t = y - 1800
Between years 1860 and 1900, calculate:

	ΔT = 7.62 + 0.5737 * t - 0.251754 * t^2 + 0.01680668 * t^3
		-0.0004473624 * t^4 + t^5 / 233174
	where: t = y - 1860
Between years 1900 and 1920, calculate:

	ΔT = -2.79 + 1.494119 * t - 0.0598939 * t^2 + 0.0061966 * t^3 - 0.000197 * t^4
	where: t = y - 1900
Between years 1920 and 1941, calculate:

	ΔT = 21.20 + 0.84493*t - 0.076100 * t^2 + 0.0020936 * t^3
	where: t = y - 1920
Between years 1941 and 1961, calculate:

	ΔT = 29.07 + 0.407*t - t^2/233 + t^3 / 2547
	where: t = y - 1950
Between years 1961 and 1986, calculate:

	ΔT = 45.45 + 1.067*t - t^2/260 - t^3 / 718
	where: t = y - 1975
Between years 1986 and 2005, calculate:

	ΔT = 63.86 + 0.3345 * t - 0.060374 * t^2 + 0.0017275 * t^3 + 0.000651814 * t^4 
		+ 0.00002373599 * t^5
	where: t = y - 2000
Between years 2005 and 2050, calculate:

	ΔT = 62.92 + 0.32217 * t + 0.005589 * t^2
	where: t = y - 2000
This expression is derived from estimated values of ΔT in the years 2010 and 2050. The value for 2010 (66.9 seconds) is based on a linearly extrapolation from 2005 using 0.39 seconds/year (average from 1995 to 2005). The value for 2050 (93 seconds) is linearly extrapolated from 2010 using 0.66 seconds/year (average rate from 1901 to 2000).

Between years 2050 and 2150, calculate:

	ΔT = -20 + 32 * ((y-1820)/100)^2 - 0.5628 * (2150 - y)
The last term is introduced to eliminate the discontinuity at 2050.

After 2150, calculate:

	ΔT = -20 + 32 * u^2
	where:	u = (year-1820)/100
All values of ΔT based on Morrison and Stephenson [2004] assume a value for the Moon's secular acceleration of -26 arcsec/cy^2. However, the ELP-2000/82 lunar ephemeris employed in the Canon uses a slightly different value of -25.858 arcsec/cy^2. Thus, a small correction "c" must be added to the values derived from the polynomial expressions for ΔT before they can be used in the Canon

	c = -0.000012932 * (y - 1955)^2
Since the values of ΔT for the interval 1955 to 2005 were derived independent of any lunar ephemeris, no correction is needed for this period.

The uncertainty in ΔT over this period can be estimated from scatter in the measurements.

References

Morrison, L. and Stephenson, F. R., "Historical Values of the Earth's Clock Error ΔT and the Calculation of Eclipses", J. Hist. Astron., Vol. 35 Part 3, August 2004, No. 120, pp 327-336 (2004).

Stephenson F.R and Houlden M.A., Atlas of Historical Eclipse Maps, Cambridge Univ.Press., Cambridge, 1986.

Home
Solar Eclipses
Lunar Eclipses
Transits
Resources
+ Heliophysics Science Division, Code 670
NASA Goddard Space Flight Center
Greenbelt, MD 20771, USA
+ Privacy Policy and Important Notices
NASA Logo - nasa.gov
Website Manager: Robert.M.Candey@nasa.gov
Responsible NASA Official: Alex Young
Last Updated: 2007 March 27

In [ ]:
def plot_all():
    plot(nasa_eclipse_morrison_and_stephenson_2004.year,
         nasa_eclipse_morrison_and_stephenson_2004.delta_t)

    plot(nasa_eclipse_astronomical_almanac_2006.year,
         nasa_eclipse_astronomical_almanac_2006.delta_t, 'ro')

In [ ]:
plot_all()

In [ ]:
plot_all()
xlim(1940, 2040)